@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --color: #fff;
  --background: #000;
  --Anton: font-family: 'Anton', sans-serif;
}

body {
  box-sizing: border-box;
  color: var(--color);
  background: var(--background);
}
